@model IEnumerable<DTO.UserDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>
    <form method="get" asp-action="Create" class="d-inline-block">
        <button type="submit" class="btn btn-outline-success">Create New</button>
    </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                
                <td>
                    <form method="get" asp-action="Edit" asp-route-id="@item.UserId" class="d-inline-block">
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </form>
                    <form method="get" asp-action="Details" asp-route-id="@item.UserId" class="d-inline-block">
                        <button type="submit" class="btn btn-secondary">Details</button>
                    </form>
                    <form method="get" asp-action="Delete" asp-route-id="@item.UserId" class="d-inline-block">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>