@model DTO.TransactionHistoryDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TransactionHistory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionHistoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionHistoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Src)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Src)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        @if (Model.ConversionName != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ConversionName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ConversionName)
            </dd>
        }
        @if (Model.ConversionValue != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ConversionValue)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ConversionValue)
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
