@model IEnumerable<DTO.TransactionHistoryDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <form method="get" asp-action="Create" class="d-inline-block">
        <button type="submit" class="btn btn-outline-success">Create New</button>
    </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransactionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Src)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConversionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConversionValue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Src)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConversionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConversionValue)
            </td>
            <td>
                <form method="get" asp-action="Edit" asp-route-id="@item.TransactionHistoryId" class="d-inline-block">
                    <button type="submit" class="btn btn-primary">Edit</button>
                </form>
                    <form method="get" asp-action="Details" asp-route-id="@item.TransactionHistoryId" class="d-inline-block">
                    <button type="submit" class="btn btn-secondary">Details</button>
                </form>
                    <form method="get" asp-action="Delete" asp-route-id="@item.TransactionHistoryId" class="d-inline-block">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
