@model IEnumerable<DAL.Models.TransactionHistory>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Account)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Src)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConversionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConversionValue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Account.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Src)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConversionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConversionValue)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TransactionHistoryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TransactionHistoryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TransactionHistoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
