@model IEnumerable<DTO.AccountDTO>

@{
    ViewData["Title"] = "Accounts";
}

<h1>Accounts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.AccountId */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.AccountId */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.AccountId */ })
            </td>
        </tr>
}
    </tbody>
</table>
